*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 1px;
}
.wrapper {
    max-width: 1440rem;
    margin-inline: auto;
}
.container {
    max-width: 1150rem;
    padding: 0 15rem;
    margin-inline: auto;
    @include tablet-small-768 {
        padding: 0 32rem;
    }
}
body {
    font-family: $ff;
    color: $color-text;
    background: $main-bg;
    font-size: 10rem;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
ul {
    list-style: none;
}
button {
    padding: 0;    
  }
.test-class {
    svg path {
        fill: transparent;
        stroke:red;
    }
    &:hover {
        svg path {
            fill: $color-primary;
        }
    }
}
