*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 1px;
}
.wrapper {
    max-width: 1920rem;
    margin-inline: auto;
}
.container {
    max-width: 1150rem;
    padding: 0 15rem;
    margin-inline: auto;
    @include tablet-small-768 {
        padding: 0 32rem;
    }
}
body {
    font-family: $ff;
    color: $color-text;
    background: $main-bg;
    font-size: 10rem;
    overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
    display: inline-block;
}
img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
ul {
    list-style: none;
}
button {
    padding: 0;    
  }
.title {
    @include text($ff-titles, 48rem, 48rem, 700, $color-primary);
    letter-spacing: 0.1em;
    text-transform: capitalize;
    margin-bottom: 80rem;
    @include tablet-992 {
        @include text($ff-titles, 32rem, 32rem, 700, $color-primary);
        margin-bottom: 40rem;
    }
}
.subtitle {
    @include text($ff-titles, 36rem, 36rem, 700, $color-primary);
    text-transform: capitalize;
    letter-spacing: 0.1em;
    @include tablet-992 {
        @include text($ff-titles, 20rem, 20rem, 700, $color-icons);
    }
}
.desc {
    @include text($ff, 16rem, 26rem, 400, $color-text);
    letter-spacing: 0.1em;
}
.mob {
    display: none;    
    @include mobile-576 {
        display: inline-block;        
    }
}
.main {
    @include mobile-576 {
        display: none;
    }
}
