*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 1px;
}
.wrapper {
    max-width: 1440rem;
    margin-inline: auto;
}
.container {
    max-width: 1150rem;
    padding: 0 15rem;
    margin-inline: auto;
}
body {
    font-family: $ff;
    color: $color-text;
    background: $main-bg;
    font-size: 10rem;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
ul {
    list-style: none;
}
button {
    padding: 0;    
  }
// .title {
//     @include text($ff, 48rem, 56rem, 700, $color-text);
//     margin-top: 111rem;
//     margin-bottom: 70px;
//     @include tablet-small-768{
//         font-size: 35px;
//         line-height: 45px;
//         margin-top: 70px;
//         margin-bottom: 40px;
//     }
// }
.desc {
    @include text($ff, 16rem, 26rem, 400, $color-text);    
}
// h3 {
//     font-family: $ff-titles;
//     color: $color-primary;
// }
