    .header__ul {
        position: absolute;
        left: 0; 
        top: 30rem;      
        padding-left: 88rem;              
        transition: $transition;
        display: flex;
        flex-direction: column;
        gap: 16rem;
        opacity: 0;
        li {
            position: relative;
            display: flex;
            align-items: center;
            gap: 8rem; 
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                background: $color-white;
                width: 11rem;
                height: 11rem;
                top: 0;
                left: 0;
                
            } 
        }
        li a{
            @include text($ff, 16rem, 24rem, 400, $burger-links);            
            letter-spacing: 0.1em;
            text-transform: uppercase;
            transition: $transition;
            position: relative;
            
                       
            &:hover {
                color: $color-primary;
            }
        }
    }
    .header__ul.active {
        opacity: 1;
        z-index: 99;
    }
    li a{
        @include text($ff, 16rem, 24rem, 400, $burger-links);            
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    .header__a:hover {
        text-decoration: underline;
        color: $color-white;
        
    }


