.flickity-enabled.is-draggable .flickity-viewport {
    max-height: auto;
    width: 100%; 
    @include tablet-992 {
        height: auto;
        max-height: 158rem;
        width: 100%;       
        
    }   
}
.gallery-cell {
    height: 602rem;    
    @include tablet-992 {
        height: auto;
        max-height: 158rem;
        width: 100%;
    }
    
    
}
.flickity-page-dots {
    display: none;
}
.flickity-prev-next-button {
    background: transparent;
    width: 40rem;
    height: 31rem;
    @include tablet-992 {
        display: none;
    }    
}
.flickity-prev-next-button .flickity-button-icon {
    display: none;
}
.flickity-prev-next-button.previous {
    left: -70px;
    &::before {
        content: url('../../img/icons/arrow-left-slider.svg');
        display: block;        
    }
}
.flickity-prev-next-button.next {
    right: -70px;
    &::before {
        content: url('../../img/icons/arrow-right-slider.svg');        
    }
}
.flickity-button:disabled {
    display: none;
}
.flickity-button:hover, .flickity-button:focus {
    background: transparent;
    box-shadow: none;    
}
