.about-section {
    padding-top: 120rem;
    padding-bottom: 120rem;
    display: flex;
    justify-content: space-between;
    gap: 40rem;
    flex-wrap: wrap;
    &__left, &__right {
        max-width: 540rem;
    }

    &__title {
        margin-bottom: 80rem;
    }

    &__desc {
    }    

    

    &__image {
        
    }

    &__mission {
    }
}

.objectives {
    margin-top: 64rem;
    position: relative;
    &__title {
        margin-bottom: 32rem;
    }
    &__image {
        position: absolute;
        margin-right: 28rem;
        img {
            max-height: 439rem;
        }
    }
    &__list {        
        display: flex;
        flex-direction: column;
        gap: 32rem;
        padding: 0 0 57rem 53rem;
        li {
            max-width: 485rem;
        }
    }
}
.mission {
    margin-top: 64rem;
    &__title {
        margin-bottom: 32rem;
    }
}
.authors {
    width: 100%;
    @include flex-between;
    gap: 56rem;
}
.authors {

    &__image {
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    &__name {        
        @include text($ff, 20rem, 30rem, 500, $color-primary);
        letter-spacing: 0.1em;
        transition: $transition;
        &:after {
			content: "";
			background: $color-primary;
			display: block;
			height: 1rem;
			opacity: 0;            
			position: relative;
			top: 3rem;
			-webkit-transition: width .3s ease-in-out;
			-moz--transition: width .3s ease-in-out;
			transition: width .3s ease-in-out;
		}
		&:hover:after, &:focus:after {
    	opacity: 1;
		}
    }

    &__desc {
        @include text($ff, 18rem, 27rem, 500, $color-text);
        letter-spacing: 0.1em;
    }
}

