.beauty-section {
    padding-top: 128rem;
    padding-bottom: 121rem;
    &__title {
        text-align: center;        
    }
    &__quote {        
        max-width: 542rem;
        margin-bottom: 93rem;
    }
    &__text {
        @include text($ff, 19rem, 30rem, 400, $color-text);
        letter-spacing: 0.1em;
    }
    &__caption {
        @include text($ff, 19rem, 28rem, 400, $color-text);
        text-align: end;        
        letter-spacing: 0.1em;
    }
    &__row {        
        display: grid;
        grid-template: auto auto / repeat(2, 1fr);
        grid-auto-flow: dense;            
        gap: 40rem;        
    }
    &__card {
        overflow-y: hidden;
        // select 3,7,11 etc
        &:nth-child(4n - 1) {
            transform: translateY(-172rem);
            margin-bottom: -172px;
        }
        &._small {
            max-height: 478rem;
        } 
        &._big {
            max-height: 650rem;
        }        
    } 
}