.contact-section {    
    position: relative;
    padding-bottom: 120rem;    
    &__desc {
        margin-bottom: 40rem;
        max-width: 540rem;
    }
    &__image {
        position: absolute;
        bottom: 120rem;        
    }
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 24rem;
    align-items: flex-end;    
    padding-bottom: 60rem;    
    &__image {
        position: absolute;
        right: 355rem;        
        max-height: 337rem;
        svg {
            height: 337px;
        }
    }
    &__item {
        max-width: 297rem;        
    }
    &__title {
        @include text($ff-titles, 18rem, 18rem, 700, $color-primary);        
        letter-spacing: 0.1em;
        margin-bottom: 16rem;
    }    
}
