.header {
    padding: 25rem 0;
    border-bottom: 1rem solid $border;
    @include mobile-576 {
        padding-top: 34rem; 
        padding-bottom: 22rem;
        align-items: flex-start        
    }     
    &__container {
        @include flex-between;
    }
    &__burger {
        display: flex;
        flex-direction: column;
        gap: 15rem;
        span {
            display: block;
            border-bottom: 2rem solid $color-icons;
            &:first-child {
                width: 56rem;
            }
            &:last-child {
                width: 28rem;
            }
        }
    }

    &__nav {
        display: none;
    }

    &__ul {
    }

    .header__socials {
        display: flex;
        gap: 24rem;
        @include mobile-576 {
            gap: 16rem;
        }                
            svg {
                max-width: 30rem;
                max-height: 30rem;
                transition: $transition;                
                &:hover {
                    path, circle{
                        stroke: $color-icons;
                    }
                }
                @include mobile-576 {
                    max-width: 25rem;
                    max-height: 25rem;
                }                               
            }
            svg path, svg circle{
                stroke: $color-text;
            }                        
        }
    }