.main-section {
    position: relative;
    height: 100%;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 199rem 15rem 154rem 15rem;
    }

    &__logo {
        margin-bottom: 32rem;
    }

    &__desc {
        @include text($ff, 18rem, 29rem, 400, $color-text);
        letter-spacing: 0.1em;
        margin-bottom: 48rem;
        max-width: 540rem;
    }
    &__img {
        display: inline-block;
		position: absolute;
		right: 0;
		top: 0;		
    }
    &__btn {
    }
}

