.main-section {
    position: relative;
    height: 100%;
    &__container {        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 199rem 15rem 154rem 15rem;
        @include mobile-576 {
            padding: 410rem 32rem 2rem 32rem;                              
        }
    }

    &__logo {
        margin-bottom: 32rem;
        display: inline-block;
        @include mobile-576 {
            width: 303rem;            
            margin-bottom: 0rem;
            padding-right: 80rem;
            transform: rotate(-90deg);
            position: absolute;
            left: -78rem; 
            top: 116rem;                              
        }
    }

    &__desc {
        @include text($ff, 18rem, 29rem, 400, $color-text);
        letter-spacing: 0.1em;
        margin-bottom: 48rem;
        max-width: 540rem;
        @include mobile-576 {
            max-width: 280rem;
            @include text($ff, 16rem, 26rem, 400, $color-text);
            margin-bottom: 0;                    
        }
    }
    &__img {
        display: inline-block;
		position: absolute;
		right: 0;
		top: 0;	
        z-index: -1;
        max-width: 850rem;	
    }
    &__btn {
        @include mobile-576 {
            svg {
                max-width: 271rem;
                position: relative;
                bottom: 5rem;
                path {
                    stroke: $color-primary;
                }
            }
        }
    }
}


