.reflections-section {
    padding-bottom: 120rem;
    &__title {
        margin-bottom: 81rem;
    }

    &__list {
    }

    &__carousel {
    }

    &__item {
        padding: 32rem;
        background: $card-bg;
        border: 1px solid $card-border;
        display: flex;
        flex-direction: column;
        max-width: 325rem;
    }
    &__image {
        margin-bottom: 24rem;
       
    }
    &__slogan {
        @include text($ff-titles, 16rem, 16rem, 700, $color-primary);
        letter-spacing: 0.1em;
        text-transform: capitalize;
        margin-bottom: 16rem;
    }
    &__link {
        @include text($ff, 16rem, 26rem, 400, $color-grey-light);
        letter-spacing: 0.1em;
    }
}


